<form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label for="validationDefaultUsername">Id</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
            id="inputGroupPrepend2">@</span>
          </div>
          <input type="number" class="form-control"
          placeholder="Id"
          [(ngModel)]="id" name="id">
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault01">First name</label>
        <input type="text" class="form-control"
        placeholder="First name"
        [(ngModel)]="firstName" name="first">
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault02">Last name</label>
        <input type="text" class="form-control"
        placeholder="Last name"
        [(ngModel)]="lastName" name="last">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Position</label>
        <select class="form-control" id="exampleFormControlSelect1"
        [(ngModel)]="position" name="position">
          <option *ngFor="let pos of posList">{{pos.name}}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">Room</label>
        <select class="form-control" id="exampleFormControlSelect2"
        [(ngModel)]="room" name="room">
          <option *ngFor="let room of roomListFree">{{room.nb}}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Salary</label>
        <input type="number" class="form-control"
        [(ngModel)]="salary" name="salary">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3"></div>
      <div class="col-md-2 mb-3">
        <button class="btn btn-success btn-block"
        type="button" (click)="add()">Add</button>
      </div>
      <div class="col-md-2 mb-3">
        <button type="button" class="btn btn-danger btn-block"
        (click)="back()">Back</button>
      </div>
      <div class="col-md-4 mb-3"></div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3"></div>
      <div class="col-md-4 mb-3">
        <h5 [className]="color">{{errtext}}</h5>
      </div>
      <div class="col-md-4 mb-3"></div>
    </div>
  </form>
