<form>
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label for="validationDefaultUsername">Id</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"
          id="inputGroupPrepend2">@</span>
        </div>
        <input type="number" class="form-control"
        placeholder="Id"
        [(ngModel)]="empNew.id" name="first">
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input type="text" class="form-control"
      placeholder="First name"
      [(ngModel)]="empNew.firstName" name="first">
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault02">Last name</label>
      <input type="text" class="form-control"
      placeholder="Last name"
      [(ngModel)]="empNew.lastName" name="first">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">Position</label>
      <input type="text" class="form-control"
      placeholder="Position"
      [(ngModel)]="empNew.position" name="first">
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">Room</label>
      <input type="number" class="form-control"
      [(ngModel)]="empNew.room" name="first">
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Salary</label>
      <input type="number" class="form-control"
      [(ngModel)]="empNew.salary" name="first">
    </div>
  </div>
  <button class="btn btn-primary"
  type="button" (click)="edit()">Submit Changes</button>

  <button type="button" class="btn btn-danger"
  (click)="back()">Back</button>
</form>
