<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Room Nb</th>
      <th scope="col">Position</th>
      <th scope="col">Salary</th>
      <th scope="col">Edit</th>
      <th scope="col">Delate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <th scope="row">{{ emp.id }}</th>
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.lastName }}</td>
      <td>{{ emp.room }}</td>
      <td>{{ emp.position }}</td>
      <td>{{ emp.salary }}</td>
      <td>
        <button type="button" class="btn btn-info"
        (click)="empEdit(emp)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger"
        (click)="empDelate(emp)">X</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <div>
      <button type="button" class="btn btn-success"
      routerLink="/employees/add">Add New Employee</button>
  </div>
</div>
