<svg [attr.width]="widthWindow" [attr.height]="heightWindow"
[attr.viewBox]="viewBox">
  <rect x="0" y="0"
  [attr.width]="widthRoom" [attr.height]="heightRoom"
  stroke="#BDBDBD" fill="#F0F0F0" [attr.stroke-width]="wall"
  (mousemove)="move($event)" (mouseup)="unclick($event)"/>

  <g *ngFor="let desk of desks" (mousedown)="clik($event, desk.id)"
  (mousemove)="move($event)" (mouseup)="unclick($event)"
  (dblclick)="addEmployee(desk.id, desk)"
  [attr.transform]="'rotate(' + desk.rotate.toString()
  + ',' + (desk.x + widthDesk / 2).toString()
  + ',' + (desk.y + heightDesk / 2).toString() + ')'">

    <rect [id]="desk.id" [attr.x]="desk.x" [attr.y]="desk.y"
    [attr.width]="widthDesk" [attr.height]="heightDesk"
    [attr.fill]="desk.colision ? '#ff6666' : '#F8F7F3'"/>

    <rect [id]="desk.id" [attr.x]="desk.x + widthDesk * 0.25"
    [attr.y]="desk.y + heightDesk * 0.35"
    [attr.width]="widthDesk * 0.5" [attr.height]="heightDesk * 0.5"
    rx="10" ry="10" fill="#3B3A39"/>

    <rect [id]="desk.id" [attr.x]="desk.x" [attr.y]="desk.y"
    [attr.width]="widthDesk" [attr.height]="heightDesk / 2"
    rx="5" ry="5"
    fill="#B6B1AE"/>

    <rect [id]="desk.id" [attr.x]="desk.x"
    [attr.y]="desk.y + heightDesk * 0.20"
    [attr.width]="widthDesk * 0.5" [attr.height]="10"
    rx="10" ry="10" fill="black"
    [attr.transform]="'rotate(-20,' + desk.x.toString() + ',' + desk.y.toString() + ')'"/>

    <rect [id]="desk.id" [attr.x]="desk.x + widthDesk * 0.3"
    [attr.y]="desk.y + heightDesk * 0.25"
    [attr.width]="widthDesk * 0.4" [attr.height]="20"
    rx="5" ry="5" fill="#424242"/>

    <circle [id]="desk.id" [attr.cx]="desk.x + widthDesk * 0.5"
    [attr.cy]="desk.y + heightDesk * 0.65" [attr.r]="20"
    [attr.visibility]="desk.employee ? 'visible' : 'hidden'"
    fill="#FFEAD5"/>

    <ellipse [id]="desk.id" [attr.cx]="desk.x + widthDesk * 0.5"
    [attr.cy]="desk.y + heightDesk * 0.63"
    [attr.rx]="21" [attr.ry]="12"
    [attr.visibility]="desk.employee ? 'visible' : 'hidden'"
    fill="#502900"/>

    <ellipse [id]="desk.id" [attr.cx]="desk.x + widthDesk * 0.5"
    [attr.cy]="desk.y + heightDesk * 0.70"
    [attr.rx]="20" [attr.ry]="15"
    [attr.visibility]="desk.employee ? 'visible' : 'hidden'"
    fill="#502900"/>
  </g>

</svg>
